<a href="https://colab.research.google.com/github/gachet/ad-1-24/blob/main/pandas/ejercicio7a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio

El fichero [titanic.csv] (https://raw.githubusercontent.com/gachet/ad-1-24/refs/heads/main/pandas/titanic.csv) contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.
3. Mostrar por pantalla los datos del pasajero con identificador 148.
3. Mostrar por pantalla las filas pares del DataFrame.
4. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
5. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
5. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
6. Eliminar del DataFrame los pasajeros con edad desconocida.
7. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
8.  Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
9.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

#Significado de las variables:
PassengerId: Numeración de las Filas  
Survived: Sobreviente  
Pclass: Clase del Ticket(Primera Clase, Segunda Clase, Tercera Clase)  
Name: Nombre del Pasajero  
Sex: Sexo  
Age: Edad  
SibSp: # de Hermanos/Cónyuges a bordo del Titanic  
Parch: # de Padres/Hijos a bordo del Titanic  
Ticket: Número de ticket  
Fare: Tarifa de pasajero  
Cabin: # de cabina  
Embarked: Puerto de embarque (C = Cherburgo, Q = Queenstown, S = Southampton)

In [ ]:
import pandas as pd

In [ ]:

# Generar un DataFrame con los datos del fichero.
titanic = pd.read_csv('https://raw.githubusercontent.com/gachet/ad-1-24/refs/heads/main/pandas/titanic.csv', index_col=0)
titanic.head()

In [ ]:
# Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.

In [ ]:
# Mostrar por pantalla los datos del pasajero con identificador 148

In [ ]:
# Mostrar por pantalla las filas pares del DataFrame.

In [ ]:
# Mostrar los nombres de las personas que iban en primera clase ordenadas alfabéticamente.

In [ ]:
# Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron


# Alternativa

In [ ]:
#Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase

In [ ]:
# Eliminar del DataFrame los pasajeros con edad desconocida.


# Alternativa
# titanic = titanic[titanic['Age'].notna()]

In [ ]:
# Mostrar la edad media de las mujeres que viajaban en cada clase.

In [ ]:
# Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.

In [ ]:
# Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.